.app-main {
    flex-grow: 1;
    margin-top: 30;
}

.header {
    height: 100px;
}

.message-container {
    background-color: gray;
    height: 700px;
}

.online-box {
    height: 700px;
}

.username-box {
    height: 50px;
}

.message-input-box {
    height: 50px;    
}

.message-input {
    padding: 0px 15px 0px 15px
}